<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulario</title>
</head>
<body>
  <h1>Formulario</h1>
  <form method="POST">
    {{ formulario.hidden_tag()}}
    <div>
      {{ formulario.nombre.label }}: {{ formulario.nombre (size=20) }}
    </div>
    <div>
      {{ formulario.enviar() }}
    </div>
  </form>
  {% if enviado %}
  {% endif %}
  <p>¡Hola, {{ nombre }}! El formulario ha sido enviado.</p>
</body>
</html>
